* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 70px;
    display:flex;
    justify-content: space-between;
    padding: 0 10vw;
    align-items: center;
    background-color: rgb(255, 98, 0);
    position:fixed;
    top:0;
    left: 0; 
}

.logo{  
    height: 40%;  
}

main {   
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: space-between; 
}

.card-container {
    width: 30%;
    padding-bottom: 100px;
}    
        
.card {
    width:100%;
    position: relative;
}

.preview {
 width: 26vw;
}

.nascosta {
    position: absolute;
    top: 0;
}

footer {
    width: 100vw;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    color:white
}

a {
    text-decoration: none;
    color: white;
}

.Discount {  
    background-color: red;
    position:absolute;
    bottom:150px;
}

.sostenibility {
    background-color: green;
    position:absolute;
    bottom:150px;
    left: 33px;
}

.lvmax {
    z-index: 100;
}

.nascosta:hover {
    opacity: 0;
}

.red {
    color:red
}

.bar {
    text-decoration: line-through;
}

.small {
    font-size: 10px;
    margin: 8px;
}

h2 {
    margin-left: 8px
}

.fa-brands {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    width: 21px;
    height: 21px;
    margin: auto;
    padding: 2px;
}

.heart {
    background-color: white;
    position: absolute;
    top: 20px;
    right: -30px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-heart {
    color:black;
    
}

.fa-heart:hover {
    color:red
}